.main-container{
    /* padding: 10px; */
    padding-top: 2%;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 9%;
    background-color:black;
    color: #b7b722;
    font-family: "Ubuntu";
    height:max-content;
    display: flex;
    align-items: center;
}

.main-info {
    width:50%;
}

.main-info h1 {
    color: #b7b722;
    font-family: "Ubuntu";
    padding-right: 50%;
    
}
.main-info p {
    color: #b7b722;
}


.padme {
    justify-content: center;
    width: 300px;
}

.padme img{
    height: auto;
    max-width: 200;
    
}



